[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
coverage = "*"
nose = "*"
pep8 = "*"

[packages]
lxml = "*"
dicttoxml = "*"
xmltodict = "*"
python-dateutil = "*"
six = "*"
pyopenssl = "*"
pycountry = "*"
shutilwhich = "*"
cryptography = "*"
freetype-py = "*"
